/* Container wrapper pentru a centra pe pagină */
.container_wrapper {
    display: flex;
    justify-content: center; /* Aliniază pe axa orizontală (centrat) */
    align-items: center; /* Aliniază pe axa verticală (centrat) */
    height: 100vh; /* Înălțimea completă a ferestrei */
}

/* Containerul care conține toate detaliile */
.container {
    background-color: rgba(126, 126, 126, 0.32); /* Fundal alb */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Lățimea maximă a containerului */
    box-sizing: border-box;

}

/* Detaliile de prezentare a închirierii */
.details , .paymentMethodText {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

/* Textul pentru alegerea metodei de plată */


/* Stilul pentru select */
.select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #fff;
    transition: border-color 0.3s;
}

/* Focus pe select */
.select:focus {
    border-color: #007BFF;
    outline: none;
}

/* Stilul pentru buton */
.button {
    background-color: #28a745; /* Verde pentru buton */
    color: white;
    padding: 12px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    margin-top: 10px;
}

/* Hover pe buton */
.button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

/* Butonul dezactivat */
.button:disabled {
    background-color: #d06262;
    cursor: not-allowed;
}

/* Spatiu între select și buton */
br {
    margin-top: 20px;
}
